@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,300;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

header {
  background: radial-gradient(
    circle,
    rgba(59, 137, 251, 1) 61%,
    rgb(47, 0, 255) 100%
  );
  color: rgb(247, 247, 247);
}

.fixed-header-content {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "f c"
    "f n";
}
.logo.fixed-header-content {
  grid-area: f;
}
.navbar.contact-fixed-header-content {
  grid-area: c;
}
.navigation-fixed.header-content  {
  grid-area: n;
}
li {
  list-style-type: none;
}
li a , a{
  text-decoration: none;
  color: rgb(255, 255, 255);
}
button {
  background: none;
}
i {
  margin-left: 5px;
}

.logo.fixed-header-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding: 10px;
  z-index: 2;
  margin-left: 15px;
}
.logo.fixed-header-content  > div > figure img {
    width: 90px;
    height: 90px;
    margin-bottom: 20px;
}
.logo.fixed-header-content  h1 {
  font-weight:bolder;
  position: absolute;
  top: 0;
  margin-top: 32px;
  font-size: 27px;
}
.logo.fixed-header-content  p {
    font-size: 15px;
    width: 250px;
}
.contact-scroll-btn figure img {
  width: 75px;
  height:75px;
  background-color: #46ca22;
  border-radius: 50px;
  margin-left: 20px;
  padding-right: 5px;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
}
.contact-scroll-btn {
  position: fixed;
  cursor: pointer;
}
.navigation-navbar-fixed.header-content ul {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}
.navigation-navbar-fixed.header-content ul li {
  margin-left: 40px;
  padding: 15px;
  font-size: 20px;
}
.navigation-responsive-fixed.header-content i {
  display: none;
}
.special-navigation-navbar-content {
  border: 1px solid rgb(247, 247, 247);
}
.header-main-content {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  justify-content: space-between;
}

.informational.header-main-content {
  max-width: 500px;
  min-width: 300px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.informational.header-main-content h1 {
  font-size:50px;
  margin: 5px auto;
}
.informational.header-main-content button {
  background: none;
  border: 1px solid rgb(247, 247, 247);
  color: rgb(247, 247, 247);
  padding: 10px;
  cursor: pointer;
  margin-bottom: 50px;
}
.icone.header-main-content { 
  position: relative;
}
.icone.header-main-content i {
  position: absolute;
  bottom: 0;
  font-size: 50px;
  margin-left: 150px;
  margin-bottom: 25px;
}
.contact.header-main-content ul li a > i {
  font-size: 30px;
  margin-top: 10px;
}
.contact.header-main-content  {
  position: relative;
  margin-bottom: 50px;
  margin-right: 25px;
}
.contact.header-main-content ul  {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}
.navbar.contact-fixed-header-content ul {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 25px;
  border: 1px solid #ffffff;
  border-top: none;
  border-right: none;
  padding-left: 150px;
  text-align: center;
}
.navbar.contact-fixed-header-content ul li {
  margin-left: 15px;
  margin-right: 15px;
  padding: 5px;
}
.primary-section-main {
  margin: 50px auto;
}
.primary-article.primary-section-main > h1 {
  color: rgb(59, 137, 251);
  font-size: 50px;
  text-align: center;
}
.primary-article.primary-section-main > p {
  margin: 10px auto;
  word-break: break-all;
  display: block;
  max-width: 500px;
  text-align: center;
}
.secondary-article.primary-section-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.secondary-article.primary-section-main > div {
  margin: 10px auto;
  padding: 5px;
}
.secondary-article.primary-section-main > div figure div{
  width: 100%;
  height: 200px;
  background-color: rgb(59, 137, 251);
}
.secondary-article.primary-section-main > div button {
  background: none;
  border: solid 1px black;
  padding: 10px;
}
.secondary-section-main {
  display: flex;
  justify-content: space-around;
  background: radial-gradient(
    circle,
    rgba(59, 137, 251, 1) 61%,
    rgb(47, 0, 255) 100%
  );
  color: rgb(247, 247, 247);
  padding: 15px;
  flex-wrap: wrap;
  align-items: center;
}
.secondary-section-main > article:first-child {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 15px;
}
.secondary-section-main > article:first-child > h3 {
  font-size: 20px;
}
.secondary-section-main > article:first-child i {
  margin: 0 auto;
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  margin-right: 5px;
}
.secondary-section-main > button {
  background: none;
  border: 1px solid rgb(247, 247, 247);
  color: rgb(247, 247, 247);
  padding: 10px;
  display: flex;
  cursor: pointer;
  align-items: center;
  flex-wrap: wrap;
}
.terciary-section-main {
  display: flex;
  justify-content: space-evenly;
  max-width: 80vw;
  align-items: center;
  margin: 50px auto;
  flex-wrap: wrap;
}
.primary-article.terciary-section-main {
  max-width: 300px;
 display: block;
  margin-bottom: 50px;
}
.primary-article.terciary-section-main h1 {
  font-size: 60px;
  color: rgb(59, 137, 251);
  font-weight: bolder;
}
.primary-article.terciary-section-main p {
  margin-bottom: 10px;
}
.primary-article.terciary-section-main button {
  background: none;
  border: 1px solid;
  padding: 10px;
  display: flex;
  align-items: center;
}
.secondary-article.terciary-section-main{
  max-width: 50vw;
}
.secondary-article.terciary-section-main figure div {
  max-width: 400px;
  height: 300px;
}
.secondary-article.terciary-section-main h3 {
  font-size: 25px;
}
.secondary-article.terciary-section-main p {
  max-width: 250px;
}
.btn {
  border: none;
  background: none;
  margin-bottom: 25px;
  cursor: pointer;
  z-index: 3;
  margin-left: 50px;
}
.figure-one {
    background-color: red;
}
.figure-two {
  background-color: #49ff18;
}
.figure-three {
  background-color: aqua;
}
.quaternary-section-main {
  background-color: rgb(211, 207, 207);
  padding: 10px;
}
.primary-article.quaternary-section-main h1 {
  font-size: 50px;
  color: rgb(59, 137, 251);
  text-align: center;
  margin: 25px auto;
  font-weight: bolder;
}
.primary-article.quaternary-section-main  p {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
.secondary-article.quaternary-section-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 50vw;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.secondary-article.quaternary-section-main > i {
  max-width: 500px;
  min-width: 170px;
  height: 200px;
  margin: 50px auto;
  background-color: rgb(59, 137, 251);
  font-weight: bolder;
  padding: 15px;
  color: white;
  display: flex;
  margin: 5px;
  justify-content: center;
  align-items: center;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
}

.terciary-article.quaternary-section-main {
  max-width: 300px;
  background-color: rgb(211, 207, 207);
  margin: 0 auto;
  margin-bottom: 50px;
}
.terciary-article.quaternary-section-main > div{
  margin: 80px auto;
  height: 300px;
}
.terciary-article.quaternary-section-main div i {
  width: 50px;
  min-width: 25px;
  height: 50px;
  background-color: rgb(59, 137, 251);
  font-weight: bolder;
  padding: 15px;
  text-align: center;
  color: white;
  margin-bottom: 15px;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
}
.terciary-article.quaternary-section-main div p {
  margin-left: 10px;
  max-width: 300px;
  margin-bottom: 50px;
}
section:nth-child(5) {
  display: block;
  background-color: rgba(221, 219, 219, 0.226);
  padding-top: 100px;
  padding-bottom: 100px;
}
.primary-article.quinary-section-main h1 {
  font-size: 50px;
  color: rgb(59, 137, 251);
  text-align: center;
  font-weight: bolder;
}
.primary-article.quinary-section-main p {
  text-align: center;
  margin: 15px auto;
}
.secondary-article.quinary-section-main {
  display: flex;
  justify-content: space-evenly;
  margin: 20px auto;
  align-items: center;
  flex-wrap: wrap;
}
.secondary-article.quinary-section-main > div {
  margin: 25px 0;
}
.secondary-article.quinary-section-main figure div {
  width: 350px;
  height: 250px;
  background-color: rgb(59, 137, 251) ;
}
.secondary-article.quinary-section-main h1 {
  font-size: 25px;
  max-width: 300px;
  font-weight: bolder;
}
.secondary-article.quinary-section-main p {
  color: rgba(0, 0, 0, 0.37);
  margin: 10px auto;
}
.secondary-article.quinary-section-main button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
}
.quinary-section-main > button {
  padding: 10px;
  border: 1px solid black;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  max-width: 50vw;
}
section:nth-child(6) {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 25px auto;
  flex-wrap: wrap;
}
.primary-article.senary-section-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.primary-article.senary-section-main h1 {
  font-size: 50px;
  color: rgb(59, 137, 251);
  font-weight: bolder;
}
.primary-article.senary-section-main p {
  color: rgb(90, 86, 86);
  font-size: 25px;
}
.primary-article.senary-section-main > div > .social-networks-Innsite  {
  display: flex;
  align-items: center;
}
.primary-article.senary-section-main > div > .social-networks-Innsite li a,.primary-article.senary-section-main > div > .social-networks-Innsite li {
  color: rgba(0, 0, 0, 0.315);
}
.primary-article.senary-section-main > div > .social-networks-Innsite li {
  font-size: 25px;
  padding: 5px;
}
.secondary-article.senary-section-main{
  width: 40vw;
  margin-top: 50px;
}
.secondary-article.senary-section-main > form > input {
  display: block;
  width: 100%;
  height: 40px;
  padding-left: 15px;
  border: 1px solid rgba(0, 0, 0, 0.288);
}
.secondary-article.senary-section-main > form > div > input {
    margin-bottom: 13px;
}
.secondary-article.senary-section-main textarea {
  display: block;
  width: 100%;
  height: 100px;
  padding-left: 15px;
  padding-top: 10px;
  border: 1px solid rgba(0, 0, 0, 0.288);
}
.secondary-article.senary-section-main div {
  display:flex;
  align-items: center;
  margin-top: 10px;
}
.secondary-article.senary-section-main div > p {
  margin-left: 10px;
}
.secondary-article.senary-section-main button {
  background-color: rgb(59, 137, 251);
  padding: 15px;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}
.primary-article.senary-section-main  > div:nth-child(2) p {
    color: rgb(59, 137, 251);
    font-weight: 800;
}
section:nth-child(7){
  background: radial-gradient(
    circle,
    rgba(59, 137, 251, 1) 61%,
    rgb(47, 0, 255) 100%
  );
  color: rgb(247, 247, 247);
  padding-top: 50px;
  padding-bottom: 50px;
}
.primary-article.septenary-section-main {
  margin: 25px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.primary-article.septenary-section-main a {
  text-decoration: none;
  color: #ffffff;
  display: block;
}
.primary-article.septenary-section-main > div {
  max-width: 500px;
  min-width: 200px;
}
.secondary-article.septenary-section-main {
  margin: 25px auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.secondary-article.septenary-section-main > div {
  max-width: 500px;
  min-width: 150px;
}
.tertiary-article.septenary-section-main {
  margin: 25px auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.tertiary-article.septenary-section-main > div {
  max-width: 500px;
  min-width: 300px;
}
.social-networks-Innsite > ul {
  display: flex;
  
  margin-right: 100px;
}
.social-networks-Innsite > ul > li {
  padding: 5px;
  font-size: 20px;
}
.septenary-section-main a {
  padding: 2px;
}
@media (max-width: 1203px) {
  .icone.header-main-content i {
    display: none;
  }
}
@media (max-width: 1065px) {
  .navigation-navbar-fixed.header-content ul {
    display: none;
    position: absolute;
    width: 100vw;
    height: 120vh;
    z-index: 1;
    right: 0;
    top: 0;
    padding-top: 50px;
    background: rgb(59, 137, 251);
    background: radial-gradient(
      circle,
      rgba(59, 137, 251, 1) 60%,
      rgb(47, 0, 255) 100%
    );
    animation: NavbarSensibility 0.5s linear;
  }
  .navigation-navbar-fixed.header-content ul li {
    text-align: right;
    margin-right: 50px;
    margin-top: 35px;
  }
  .navigation-responsive-fixed.header-content i {
    display: block;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    right: 0;
    top: 0;
    margin-top: 45px;
    margin-right: 50px;
    font-size: 30px;
  }
  .navbar.contact-fixed-header-content ul {
    display: none;
  }
  .img.header-main-content {
    display: none;
  }
  .secondary-article.quaternary-section-main {
    grid-template-columns: repeat(2,2fr);
  }
}
@media (max-width: 950px) {
  .contact.header-main-content ul {
      display: none;
  }
  .secondary-article.primary-section-main {
    display: block;
    width: 100%;
  }
}

@keyframes NavbarSensibility {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
